# Supabase Configuration (Salin variabel ini ke Vercel Environment Variables)
NEXT_PUBLIC_SUPABASE_URL=https://buvswexlhmcjecyuzilg.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_LJLE2k_OHRXTqrvjXW24Og_sTt7ELmI
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ1dnN3ZXhsaG1jamVjeXV6aWxnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ1NTc5MDksImV4cCI6MjEwMDEzMzkwOX0.k7_PLjEUGlDeNWWWLEyrE64KFbU3ipQY2E7bYXPiQy4
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ1dnN3ZXhsaG1jamVjeXV6aWxnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NDU1NzkwOSwiZXhwIjoyMTAwMTMzOTA5fQ.KHbmdZg913y3RGxVnqWG1lTTYhhKnjTioSPF_H7MNbU
